aside {
    background-color: grey;
}

.jumbotron {
    background-image: url("images/hero.jpg");
    background-size: 100%;
    margin: auto !important;
    width: 100%;
    height: 50%;
}

.title {
    color: white;
}
#currentDay {
    color: white;
}

#matchUps {
    background-color: silver;
}

#odds {
    background-color: #00ffff;

}

html, body {
    height: 100%;
}

/* #left_column {
    width: 250px;
    float: left;
    height:100%;
} */

main {
    height: 100%;
    width: 100%;
}