aside {
    background-color: grey;
}

.col-2 {
    padding-right: 0;
}

/*jumbotron*/
.jumbotron {
    background-image: url("images/hero.jpg");
    background-size: 100%;
    margin: auto !important;
    width: 100%;
    height: 50%;
    border-radius: 0%;
}

.title {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px gray;
    padding-bottom: 10px;
    font-size: 65px;
}

#currentDay {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px gray;
    font-size: 20px;
}

/*modals*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#openModal {
    display: block;
}

.modalContent {
    background-color: white;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    border: 2px solid darkred;
    width: 50%;
    align-content: center;
}

.close {
    color: darkred;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: darkseagreen;
    text-decoration: none;
    cursor: pointer;
}

.modalTextContent {
    margin: 1em;
}

#matchUps {
    background-color: rgb(197, 132, 95);
}

#odds {
    background-color: silver;

}

html, body {
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
}

/*buttons*/

.btn-info {
    color: black;
    background-color: darkseagreen;
    border-color: darkseagreen;
}

.btn-info:hover {
    color: black;
    background-color: rgb(255, 166, 0);
    border-color: none;
    transition-duration: 10ms;
}

.btn-info.focus, .btn-info:focus {
    color: black;
    background-color: white;
    border-color: none;
    box-shadow: none;
}

.basketballBtn {
    background-color: rgb(146, 102, 97);
    margin-bottom: 10px;
}

.basketballBtn:hover {
    background-color: rgb(197, 132, 95);
    color: white;
}

#favoriteTeamBtn {
    background-color: rgb(146, 102, 97);
    border-color: none;
}

#favoriteTeamBtn:hover {
    background-color: rgb(197, 132, 95);
    color: white;
}

.removeBtn {
    background-color: rgb(146, 102, 97);
    border-color: none;
}

.removeBtn:hover {
    background-color: rgb(197, 132, 95);
    color: white;
}

/*lists of teams*/

#basketballTeams {
    display: none;
}

.list-group {
    padding-left: 10px;
    padding-right: 10px;
}

.list-group-item {
    color: black;
    background-color: white;
}

.list-group-item:hover {
    background-color: rgb(236, 244, 114);
    color: black;
    cursor: pointer;
}

#entry {
    text-align: center;

}

.pastGames:hover {
    background-color: red;

}

.futureGames:hover {
    background-color: green;
}

/*card*/

.card {
    padding: 20px;
    margin-top: 10px;
}