aside {
    background-color: grey;
}

.col-2 {
    padding-right: 0;
}
/*jumbotron*/
.jumbotron {
    background-image: url("images/hero.jpg");
    background-size: 100%;
    margin: auto !important;
    width: 100%;
    height: 50%;
    border-radius: 0%;
}

.title {
    color: darkred;
    /* background-color: darkseagreen; */
    padding-bottom: 10px;
    font-size: 65px;
}
#currentDay {
    color: darkred;
    /* background-color: darkseagreen; */
    font-size: 20px;
}

/*modals*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#openModal {
    display: block;
}

.modalContent {
    background-color: white;
    margin: auto;
    margin-top: 25%;
    padding: 20px;
    border: 2px solid darkred;
    width: 50%;
}

.close {
    color: darkred;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: darkseagreen;
    text-decoration: none;
    cursor: pointer;
}

.modalTextContent {
    margin: 1em;
}

#matchUps {
    background-color: silver;
}

#odds {
    background-color: silver;

}

html, body {
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
}
/*carousel*/

.carousel-inner {
    height: 45vh;
}
/*buttons*/

.btn-info {
    color: black;
    background-color: darkseagreen;
    border-color: darkseagreen;
}

.btn-info:hover {
    color: black;
    background-color: orange;
    border-color: none;
    transition-duration: 10ms;
}

.btn-info.focus, .btn-info:focus {
    color: darkred;
    background-color: orange;
    border-color: none;
    box-shadow: none;
}

/*lists of teams*/

#basketballTeams {
    display: none;
}

.list-group {
    padding-left: 10px;
    padding-right: 10px;
}

.list-group-item {
    background-color: orange;
}

.list-group-item:hover {
    background-color: darkseagreen;
    color: darkred;
    cursor: pointer;
}

#entry {
    text-align: center;
}